@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.2rem;
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', Meiryo;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  color: #2196F3;
  text-decoration: none;
}

.header {
  width: 100vw;
  background-color: #448AFF;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-color: #E0E0E0;
}

.main {
  width: 660px;
  background-color: #75e900;
}

.sidemenu {
  width: 275px;
  background-color: #ff9e22;
}

.footer {
  width: 100vw;
  background-color: #F8BBD0;
}
