<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap">
  <link rel="stylesheet" href="assets/reset.css">
  <link rel="stylesheet" href="assets/style.css">
</head>

<body>
  <header class="header">
    <h1 class="logo">
      <a href="/">
        <!-- Hidden Text -->CHICKEN SOUP
      </a>
    </h1>
    <nav class="global-nav">
      <ul>
        {{range $idx, $text := .GlobalNav}}
        <li class="nav-item{{if eq $idx 0}} active{{end}}"><a href="#">{{$text}}</a></li>
        {{end}}
      </ul>
    </nav>
  </header>
  <div class="wrapper">
    <main class="main">
      <section>
        <h2 class="hidden">HOT TOPIC</h2>
        <a href="#" class="hot-topic">
          <img class="image" src="{{.HotTopic.Image}}" alt="{{.HotTopic.Alt}}">
          <div class="content">
            {{$cont := .HotTopic.Content}}
            <time class="date" datetime="{{$cont.Datetime}}">{{$cont.Datetext}}</time>
            <h3 class="title">{{$cont.Title}}</h3>
            <p class="description">{{$cont.Description}}</p>
          </div>
        </a>
      </section>
      <section class="news">
        <h2>NEWS</h2>
      </section>
      <section class="articles">
        <h2 class="hidden">ARTICLES</h2>
      </section>
    </main>
    <nav class="sidemenu">sidemenu</nav>
  </div>
  <footer class="footer">footer</footer>
</body>

</html>
