<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout2</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="assets/reset.css">
  <link rel="stylesheet" href="assets/layout.css">
</head>

<body>
  <header class="header">
    <p class="subtitle">{{.Subtitle}}</p>
    <h1 class="title">{{.Title}}</h1>
    <p class="description">{{.Description}}</p>
    <div class="buttons">
      <a href="#about" class="button">LEARN MORE</a>
      <a href="#contact" class="button button--showy">SEND MESSAGE</a>
    </div>
  </header>
  <section id="about" class="about">
    <p style="height: 800vh;">
      verylongcontent
    </p>
  </section>
  <section class="works"></section>
  <section id="contact" class="contact">
    <p>CONTACT US</p>
  </section>
  <footer class="footer"></footer>
</body>

</html>
